## Deliverable 3. Create a Travel Itinerary Map.

In [145]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [146]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,0,Marsh Harbour,BS,Clouds,76.26,26.5412,-77.0636,Abaco Beach Resort
1,6,Galle,LK,Clouds,77.99,6.0367,80.2170,Amangalla
2,9,Puerto Ayora,EC,Clouds,73.54,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,11,Atuona,PF,Clouds,78.84,-9.8000,-139.0333,Villa Enata
4,15,Sabha,LY,Clouds,73.89,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...

In [147]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [148]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(layout={
        'width': '800px',
        'height': '800px',
        'padding': '3px',
        'border': '1px solid black'},
        center=(0, 0), zoom_level=1.7)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', padding='3px', width='800px'))

In [149]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Port Macquarie"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Port Macquarie"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Nelson Bay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Leeton"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=='Corowa'] 
vacation_start

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
186,618,Port Macquarie,AU,Clouds,71.89,-31.4333,152.9167,Rydges Port Macquarie

In [150]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =  vacation_start.iloc[0,5:7].to_numpy()
end =    vacation_end.iloc[0,5:7].to_numpy()
stop1 =  vacation_stop1.iloc[0,5:7].to_numpy()
stop2 =  vacation_stop2.iloc[0,5:7].to_numpy()
stop3 =  vacation_stop3.iloc[0,5:7].to_numpy()

In [151]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
waypoints = [stop1, stop2, stop3]
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [152]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,618,Port Macquarie,AU,Clouds,71.89,-31.4333,152.9167,Rydges Port Macquarie
1,661,Nelson Bay,AU,Rain,66.99,-32.7167,152.1500,Mantra Nelson Bay
2,464,Leeton,AU,Clear,69.85,-34.5667,146.4000,Hydro Hotel
3,172,Corowa,AU,Clouds,70.57,-36.0333,146.3833,Statesman Motor Inn

In [157]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [162]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(layout={
        'width': '800px',
        'height': '800px',
        'padding': '3px',
        'border': '1px solid black'},
        center=(-33, 149), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', padding='3px', width='800px'))